{% extends "baseHome.html" %}

{% block head_content %}
    <title>Home</title>
{% endblock %}


{% block container%}
<div class="content-container">

  <div class="container-fluid">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron" style="margin-top: 45px">
      <h1>Bienvenido al Sistema de Gestion de Proyectos </h1>
      <p></p>
      <p>
{#        <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">View navbar docs &raquo;</a>#}
      </p>
<!--       <a href="{% url 'logout' %}"> Salir</a>-->
{#      <button type="button" class="btn btn-danger" onclick="location.href= '{% url 'logout' %}'">Salir</button>#}
    </div>

  </div>
</div>
{% endblock %}

