{% extends "baseHome.html" %}
{% load guardian_tags %}

{% block head_content %}
    <title>Lista Proyectos</title>
{% endblock %}

{% block container %}
    <div class="content-container" style="margin-top: 50px">
        <div class="container-fluid">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
{#                    <li class="breadcrumb-item"><a href="{% url 'proyecto' proyecto_id %}">Proyecto</a></li>#}
{#                    <li class="breadcrumb-item"><a href="{% url 'listaRol' proyecto_id %}">Lista de roles</a></li>#}
                    <li class="breadcrumb-item active" aria-current="page">Lista de Proyectos</li>
                </ol>
            </nav>
                <div class="jumbotron">
                    <div class="row">
                         <div class="col-md-8">
                            <h1><i class="fa fa-thumb-tack" aria-hidden="true"></i> Lista Proyectos</h1>
                        </div>
                         <div class="col-md-4" style="text-align: end">

                            {% if request.user.rolSistema == "Administrador" %}
                                    <button type="button" class="btn btn-secondary"
                                    onclick="location.href='{% url 'crearProyecto' %}'"
                                    >Crear Proyecto <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                            </button>

                            {% endif %}

                        </div>
                        <div >
                            <select class="btn btn-secondary" style="margin-bottom: 10px" name="filtrar" id="filtrar" onChange="obeteneropcion()">
                                        <option value="" >FILTRAR</option>
                                        <option value="TODOS" >TODOS</option>
                                        <option value="PENDIENTE">PENDIENTE</option>
                                        <option value="ACTIVO" >ACTIVO</option>
                                        <option value="CANCELADO">CANCELADO</option>
                                    </select>


                        </div>
                        <hr style="width:96%; margin-left:1% !important; margin-right:1% !important;"/>
                    </div>
                    <table class="table table-striped table-dark container">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Estado</th>
                            <th scope="col">Fecha Inicio</th>
                            <th scope="col">Opciones</th>
                        </tr>
                        </thead>
                        <h4>{{filtro}}</h4>
                        {% for proyecto in proyectos %}

                            {% get_obj_perms request.user for proyecto as "proyecto_perms" %}
                            {% if request.user.rolSistema == "Usuario" and   "VER_PROYECTO" in proyecto_perms or request.user.rolSistema == "Administrador" %}
                            <tbody style="text-align: left; ">
                            <tr>
                                <th scope="row">{{ proyecto.pk }}</th>
                                <td>{{ proyecto.nombre_proyecto }}</td>
                                <td>
                                    {{ proyecto.estado }}
                                </td>
                                <td>
                                    {{ proyecto.fecha_inicio }}
                                </td>
                                <td>

{#                                    {% if "EDITAR_PROYECTO" in proyecto_perms %}#}
                                    {% if perms.user.EDITAR_PROYECTOS%}
                                    <button type="button" class="btn btn-secondary"
                                            onclick="location.href='{% url 'editarProyecto' proyecto.id %}'"
                                    >Editar
                                    </button>
                                    {% endif %}


                                    {% if "ELIMINAR_PROYECTO" in proyecto_perms %}
                                    <button type="button" class="btn btn-danger"
                                            onclick="eliminarProyecto({{ proyecto.id }})">Cancelar
                                    </button>
                                    {% endif %}
                                    {% if "VER_PROYECTO" in proyecto_perms %}
                                    <button type="button" class="btn btn-info"
                                            onclick="location.href='{% url 'proyecto' proyecto.id %}'">Ingresar
                                    </button>
                                {% endif %}
                                </td>
                            </tr>

                        </tbody>
                            {% endif %}
                        {% endfor %}
                    </table>

                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function eliminarProyecto(id) {
            console.log(id)
            Swal.fire({
                'title': '¿Estas seguro?',
                'text': 'esta acción no se pude deshacer',
                'icon': 'warning',
                'showCancelButton': true,
                'cancelButtonColor': '#d33',
                'confirmButtonText': 'Confirmar',
                'cancelButtonText': 'Cancelar'
            })
                .then(function (result) {
                    if (result.isConfirmed) {
                        window.location.href = "/proyecto/" + id + "/eliminar";
                    }
                })
        }
    </script>
    <script type="text/javascript">
        function obeteneropcion() {
                var seleccion= document.getElementById('filtrar').value;
               window.location.href = "/home/proyectos/" + seleccion + "/";
            }
    </script>
{% endblock %}
