{% extends "baseHome.html" %}
{% block head_content %}
    <title>Usuarios</title>
{% endblock %}

{% block container %}
     <div class="content-container" style="margin-top: 50px">
        <div class="container-fluid">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Lista de Usuarios</li>
                </ol>
            </nav>

            <div class="jumbotron">

                        <h1><i class="fa fa-thumb-tack" aria-hidden="true"></i> Lista de Usuarios</h1>
                         <hr style="width:96%; margin-left:1% !important; margin-right:1% !important;" />

                <table class="overflow-auto table table-striped table-dark container">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col"><i class="fa fa-user" aria-hidden="true"></i> Users</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Correo</th>
                        <th scope="col">Rol del Sistema</th>
                        <th scope="col">Usuario Activo</th>
                        <th scope="col">Detalles</th>
                    </tr>
                    </thead>
                    {% for user in user %}
                        <tbody style="text-align: left; ">
                        <tr>
                            <th scope="row">{{ user.id }}</th>
                            <td>@{{ user.username }}</td>
                            <td>{{ user }}</td>
                            <td>
                                {{ user.email }}
                            </td>
                            <td>
                                {{ user.rolSistema }}
                            </td>
                            <td>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="usuarioActivo"
                                           id="flexCheckDisabled"
                                            {% if user.estaActivado %}
                                           checked {% endif %}  disabled>
                                    {% if user.estaActivado %}
                                        Activado
                                    {% else %}
                                        Desactivado
                                    {% endif %}

                                </div>
                            </td>
                            <td>
                                <button type="button" class="btn btn-secondary"
                                        onclick="editarUser({{ user.id }})">Editar
                                </button>
                                <button type="button" class="btn btn-danger"
                                        onclick="eliminarUser({{ user.id }})">Borrar
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    </div>
    <script type="text/javascript">
        function eliminarUser(id) {
            console.log(id)
            Swal.fire({
                'title': '¿Estas seguro?',
                'text': 'esta acción no se pude deshacer',
                'icon': 'warning',
                'showCancelButton': true
            })
                .then(function (result) {
                    if (result.isConfirmed) {
                        window.location.href = "/eliminar/" + id + "/";
                    }
                })
        }

        function editarUser(id) {
            console.log(id)
            Swal.fire({
                'title': '¿Estas seguro?',
                {#'text': 'esta acción no se pude deshacer',#}
                'icon': 'question',
                'showCancelButton': true
            })
                .then(function (result) {
                    if (result.isConfirmed) {
                        window.location.href = "/editar/" + id + "/";
                    }
                })
        }
    </script>
{% endblock %}