{% extends "baseHome.html" %}

{% block head_content %}
    <title>Home</title>
{% endblock %}
{% block container %}

    <div class="content-container">
        <div class="container-fluid">
            <div class="jumbotron" style="margin-top: 45px">
                <h1>Crear Proyecto</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <button class="btn btn-primary" style="margin-left: 10px">Editar</button>
                </form>
            </div>

        </div>
    </div>

{% endblock %}