{% extends "baseHome.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block head_content %}
    <title>Home</title>
{% endblock %}
{% block container %}

    <div class="content-container" style="margin-top: 50px">
        <div class="container-fluid">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">

                    <li class="breadcrumb-item"><a href="{% url 'listarProyectos' %}">Lista de Proyectos</a></li>
                    <li class="breadcrumb-item active">Editar Proyecto</li>
                </ol>
            </nav>

            <div class="jumbotron" style="margin-top: 0px">
                <h1><i class="fa fa-file-text-o" aria-hidden="true"></i> Editar el Proyecto - <span class="text-muted"> {{ proyecto.nombre_proyecto }}</span>  </h1>
                <hr style="width:96%; margin-left:1% !important; margin-right:1% !important;"/>
                <form method="POST">
                    {% csrf_token %}
                    {#                    {{ form }}#}
                    {{ form.media }}
                    {% bootstrap_form form %}
                    <button class="btn btn-primary" style="margin-left: 10px">Aceptar <i class="fa fa-check"
                                                                                         aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-danger " style="margin-left: 10px"
                            onclick="location.href='{% url 'listarProyectos' %}'">Cancelar <i class="fa fa-times"
                                                                                              aria-hidden="true"></i>
                    </button>
                </form>
            </div>

        </div>
    </div>

{% endblock %}