{% extends "baseProyecto.html" %}
{% load guardian_tags %}

{% block head_content %}
    <title>Miembros</title>
{% endblock %}
{% block container %}
    <div class="sidebar-container" style="margin-top: 57px">
        {#    <div class="sidebar-logo">#}
        <div class="container-fluid" style="margin: 5px">
            <img src="/static/img/default-profile.png" class="rounded-circle" height="50" style="width: 50px;"/>
            {{ request.user.username }}

        </div>
        {#    </div>#}
        <ul class="sidebar-navigation">
            {% get_obj_perms request.user for proyecto as "proyecto_perms" %}
            <li class="header">{{ proyecto.nombre_proyecto }} <i class="fa fa-briefcase" aria-hidden="true"></i></li>
            <li>
                <a href="/home">
                    <i class="fa fa-home" aria-hidden="true"></i> Inicio
                </a>
            </li>
            <li>
                <a href="{% url 'proyecto' proyecto_id=proyecto_id %}">
                    <i class="fa fa-briefcase" aria-hidden="true"></i>Proyecto
                </a>
            </li>
            {% if proyecto.estado == 'ACTIVO' or proyecto.estado == 'CANCELADO' %}
                <li>
                    <a href="{% url 'desarrollo' proyecto_id=proyecto_id %}">
                        <i class="fa fa-align-right" aria-hidden="true"></i>Desarrollo
                    </a>
                </li>
            {% endif %}
            <li class="header">Gestión</li>
            {% if "VER_MIEMBRO" in proyecto_perms %}
                <li>
                    <a href='{% url 'miembros_proyecto' proyecto_id=proyecto.id %}'>
                        <i class="fa fa-cog" aria-hidden="true"></i> Miembros
                    </a>
                </li>
            {% endif %}

            {#            <li>#}
            {#                <a href='{% url 'listaUsuarios' %}'>#}
            {#                    <i class="fa fa-users" aria-hidden="true"></i> Configurar#}
            {#                </a>#}
            {#            </li>#}
            {% if "VER_ROL" in proyecto_perms %}
                <li>
                <a href="{% url 'listaRol' proyecto_id=proyecto_id %}">
                    <i class="fa fa-user" aria-hidden="true"></i>Roles
                </a>
            {% endif %}

            </li>

        </ul>
    </div>

    <div class="content-container">
        <div class="container-fluid" style="margin-top: 50px">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'proyecto' proyecto_id %}">Proyecto</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Miembros</li>
                </ol>
            </nav>
            <div class="jumbotron" style="margin-top: 0px">
                <div class="row">
                    <div class="col-md-8">
                        <h1><i class="fa fa-thumb-tack" aria-hidden="true"></i>Miembros del proyecto </h1>
                    </div>
                    <div class="col-md-4" style="text-align: end">
                        {% if "AGREGAR_MIEMBRO" in proyecto_perms %}
                            <button type="button" class="btn btn-secondary"
                                    onclick="location.href='{% url 'setMiembros_proyectos' proyecto_id %}'"
                            >Añadir Miembro <i class="fa fa-user" aria-hidden="true"></i>
                            </button>
                        {% endif %}
                    </div>
                    <hr style="width:96%; margin-left:1% !important; margin-right:1% !important;"/>

                    <table class="overflow-auto table table-striped table-dark container">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"><i class="fa fa-user" aria-hidden="true"></i> Users</th>
                            <th scope="col">Proyecto</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Detalles</th>
                        </tr>
                        </thead>
                        {% for miembro in miembros_proyecto %}
                            <tbody style="text-align: left; ">
                            <tr>
                                <th scope="row">{{ miembro.pk }}</th>
                                <td>@{{ miembro.miembro }}</td>
                                <td>
                                    {{ miembro.proyectos }}
                                </td>
                                <td>
                                    {{ miembro.rol }}
                                </td>
                                <td>
                                    {% if miembro.rol.nombre != 'Scrum Master' %}
                                        {% if "EDITAR_MIEMBRO" in proyecto_perms %}

                                            <button type="button" class="btn btn-secondary"
                                                    onclick="location.href='{% url 'editarmiembro-proyecto' proyecto_id miembro.id %}'">
                                                Editar
                                            </button>
                                        {% endif %}
                                        {% if "ELIMINAR_MIEMBRO" in proyecto_perms %}

                                            <button type="button" class="btn btn-danger"
                                                    onclick="eliminarMiembro({{ proyecto_id }},{{ miembro.id }}, {{ miembro.miembro.username.split   }})">

                                                Borrar
                                            </button>

                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>


                </div>

            </div>
        </div>
    </div>
     <script type="text/javascript">


        function eliminarMiembro(id, id_miembro, nombre) {
            console.log(id, nombre)
            Swal.fire({
                'title': '¿Estas seguro?',
                'text': `Se eliminara al miembro "${nombre}" del proyecto`,
                'icon': 'error',
                'showCancelButton': true,
                'cancelButtonColor': '#d33',
                'confirmButtonText': 'Confirmar',
                'cancelButtonText': 'Cancelar'
            })
                .then(function (result) {
                    if (result.isConfirmed) {
                        window.location.href = `miembros/${id_miembro}/eliminar`;
                    }
                })
        }


    </script>
{% endblock %}