{% extends "baseDesarrollo.html" %}

{% block head_content %}
    <title>Home</title>
{% endblock %}
{% block container %}

    <div class="content-container">
        <div class="container-fluid" style="margin-top: 50px">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'desarrollo' proyecto_id %}">Desarrollo</a></li>
                </ol>
            </nav>
            <div class="jumbotron" style="margin-top: 0px">
                <div class="row">
                    <div class="col-10 .col-md-10">
                        <h1><i class="fa fa-bullhorn" aria-hidden="true"></i> Módulo de Desarrollo</h1>
                    </div>

                    <hr style="width:96%; margin-left:1% !important; margin-right:1% !important;"/>
                    <h2>Proyecto {{ proyecto.nombre_proyecto }}</h2>

                    {% load static %}
                    <img src="{% static 'img/bob_gangster___bob_cholo_hd_by_ikouzhy_de8043k-fullview.png' %}" style="width: 45%;  display: block;margin-left: auto;margin-right: auto;" alt="">


                </div>


            </div>

        </div>
    </div>

{% endblock %}