<html>

{% block head_content %}
    <title>Reporte</title>
{% endblock %}
{% block container %}
    <div class="content-container">
        <div class="container-fluid" style="margin-top: 50px">
            <div class="row">
                <div class="col-sm-12 col-lg-9">
                    <div class="jumbotron" style="margin-top: 0px">
                        <div class="row">
                            <div class="col-md-8">
                                <h1><i class="fa fa-list-alt" aria-hidden="true"></i></i> Reporte {{ sprint_nombre }}</h1>
                                 <h2><span style="color: #5a6268">{{ fecha  }} </span></h2>
                            </div>
                            <hr style="width:96%; margin-left:1% !important; margin-right:1% !important;"/>

                        </div>
                        <table class="overflow-auto table table-striped table-dark container">
                            <thead>
                            <tr>

                                <th scope="col">User story</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Horas estimadas</th>
                                <th scope="col">Horas trabajadas</th>
                                <th scope="col">Prioridad</th>

                            </tr>
                            </thead>
                            {% for reporte in reportes%}
                                <tbody style="text-align: left; ">
                                <tr >
                                    <th scope="row" style="color: #5a6268; text-align: center" >{{ reporte.0}}</th>
                                    <th scope="row" style="color: #5a6268; text-align: center"> {{ reporte.1}}</th>
                                    <th scope="row" style="color: #5a6268">{{ reporte.2}}</th>
                                    <th scope="row" style="color: #5a6268">{{ reporte.3}}</th>
                                    <th scope="row" style="color: #5a6268">{{ reporte.4}}</th>

                                </tr>

                            {% endfor %}
                            </tbody>
                        </table>
                        {% if not reportes%}
                          <p class="text-muted" style="text-align: center; margin-top: 30px"><i class="bi bi-exclamation-triangle"></i>
                            No hay User Stories en el Sprint activo</p>
                      {% endif %}

                    </div>
                </div>
                 <hr style="width:96%; margin-left:1% !important; margin-right:1% !important;"/>
            </div>
        </div>

    </div>

{% endblock %}
</html>