{% extends "baseDesarrollo.html" %}
{% load static %}


{% block head_content %}
    <link rel="stylesheet" href="{% static 'css/kanban.css' %}">
    <title>Home</title>
{% endblock %}
{% block container %}

    <div class="content-container">
        <div class="container-fluid" style="margin-top: 50px">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'desarrollo' proyecto_id %}">Desarrollo</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sprint Backlog</li>
                </ol>
            </nav>
            <div class="jumbotron" style="margin-top: 0px">
            <div class="row">
                <div class="col-md-8">
                    <h1><i class="fa fa-th-list" aria-hidden="true"></i></i> Sprint Backlog</h1>
                </div>
                <div class="col-md-4">
                    <h6 class="text-muted" style="text-align: center; margin-top: 30px">
                        <i class="bi bi-alarm"></i>
                         Duración del Sprint : {{ estimacion_total }} semana/s {{ dias }} dia/s</h6>
                </div>
            </div>
                <hr style="width:96%; margin-left:1% !important; margin-right:1% !important;"/>

                <div class="row">
                    {% csrf_token %}
                    <div class="col-sm-12 col-xl-4 card" >
                        <div class="card-header">
                            <h6 class="text-muted"><i class="fa bi bi-bookmark"></i> TO DO</h6>
                        </div>
                        <div class="card-body" id="TO_DO">
                            {% for us in user_stories %}
                                {% if us.estado_sprint == 'TO DO' %}
                                    <div class="card efecto {% if us.miembro_asignado.username != request.user.username %} divider{% endif %}" style="{% if us.miembro_asignado.username != request.user.username %} opacity: 0.7; {% endif %}" data-id="{{ us.pk }}">
                                        <div class="card " style="border: 0px" data-id="{{ us.pk }}">
                                            <div class="card-img-overlay" style="text-align: end">
                                                <span class="badge badge-primary"> {{ us.miembro_asignado }}</span>
                                                <span class="badge badge-secondary  " > Prioridad:  {{ us.prioridad }}  </span>
                                            </div>
                                            <div class="card-body">
                                                <h6 class="card-title">{{ us.nombre }}</h6>
                                                <small class="text-muted cat">
                                                    <i class="far fa-clock text-info"></i> {{ us.estimacion }}
                                                    Estimación
                                                    <i class="fas fa-users text-info"></i> 1 Miembro
                                                </small>
                                                <p class="card-text">{{ us.descripcion }}.</p>
                                            </div>
                                        </div>
                                        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                                        </div>
                                        <div class="containe disabled" style="padding: 10px; margin-top: -30px;">
                                            <a href="home" style="width: 30%; " class="btn btn-success btn-sm  {% if us.miembro_asignado.username != request.user.username %} disabled{% endif %} ">Ver más</a>
                                        </div>
                                    </div>

                                    {#                                    <div class="card" data-id="{{ us.pk }}">#}
                                    {#                                        <div class="card">#}
                                    {#                                            <div class="card-header">#}
                                    {#                                                {{ us.nombre }}#}
                                    {#                                                <div style="text-align: end"><span#}
                                    {#                                                        class="badge badge-primary">{{ us.miembro_asignado }}</span>#}
                                    {#                                                </div>#}
                                    {#                                            </div>#}
                                    {#                                            <div class="card-body">#}
                                    {#                                                <p>{{ us.descripcion }}</p>#}
                                    {#                                                <p>{{ us.pk }}</p>#}
                                    {#                                            </div>#}
                                    {#                                            <div id="static" style="text-align: end">#}
                                    {#                                                <button class="btn btn-secondary" style="width: 25%;" href="home">#}
                                    {#                                                    Aceptar#}
                                    {#                                                </button>#}
                                    {#                                            </div>#}
                                    {#                                        </div>#}
                                    {##}
                                    {#                                    </div>#}
                                {% endif %}
                            {% endfor %}
                        </div>

                    </div>
                    <div class="col-sm-12 col-xl-4 card">
                        <div class="card-header">
                            <h6 class="text-muted"><i class="bi bi-bookmark-plus"></i> DOING</h6>
                        </div>
                        <div class="card-body" id="DOING">

                            {% for us in user_stories %}
                                {% if us.estado_sprint == 'DOING' %}
                                    <div class="card efecto   {% if us.miembro_asignado.username != request.user.username %} divider{% endif %}" style="{% if us.miembro_asignado.username != request.user.username %} opacity: 0.7; {% endif %} " data-id="{{ us.pk }}">
                                        <div class="card" style="border: 0px" data-id="{{ us.pk }}">
                                            <div class="card-img-overlay" style="text-align: end">
                                                <span class="badge badge-primary"> {{ us.miembro_asignado }}</span>
                                                <span class="badge badge-secondary"> Prioridad: {{ us.prioridad }}</span>
                                            </div>
                                            <div class="card-body">
                                                <h6 class="card-title">{{ us.nombre }}</h6>
                                                <small class="text-muted cat">
                                                    <i class="far fa-clock text-info"></i> {{ us.estimacion }}
                                                    Estimación
                                                    <i class="fas fa-users text-info"></i> 1 Miembro
                                                </small>
                                                <p class="card-text">{{ us.descripcion }}.</p>
                                            </div>
                                        </div>
                                        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                                        </div>
                                        <div class="container" style="padding: 10px; margin-top: -30px ">
                                            <a href="home" style="width: 30%; " class="btn btn-success btn-sm  {% if us.miembro_asignado.username != request.user.username %} disabled{% endif %} ">Ver más</a>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-4  card">
                        <div class="card-header">
                            <h6 class="text-muted"> <i class="bi bi-bookmark-check"></i> DONE</h6>
                        </div>
                        <div class="card-body" id="DONE">
                            {% for us in user_stories %}
                                {% if us.estado_sprint == 'DONE' %}
                                    <div class="card efecto {% if us.miembro_asignado.username != request.user.username %} divider{% endif %}" style="{% if us.miembro_asignado.username != request.user.username %} opacity: 0.7; {% endif %}"  data-id="{{ us.pk }}">
                                        <div class="card " style="border: 0px" data-id="{{ us.pk }}">
                                            <div class="card-img-overlay" style="text-align: end">
                                                <span class="badge badge-primary"> {{ us.miembro_asignado }}</span>
                                                <span class="badge badge-secondary"> Prioridad: {{ us.prioridad }}</span>
                                            </div>
                                            <div class="card-body">
                                                <h6 class="card-title">{{ us.nombre }}</h6>
                                                <small class="text-muted cat">
                                                    <i class="far fa-clock text-info"></i> {{ us.estimacion }}
                                                    Estimación
                                                    <i class="fas fa-users text-info"></i> 1 Miembro
                                                </small>
                                                <p class="card-text">{{ us.descripcion }}.</p>
                                            </div>
                                        </div>
                                        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                                        </div>
                                        <div class="container" style="padding: 10px; margin-top: -30px">
                                        <div class="row">
                                            <div class="col-8">
                                                <a href="home" style="width: 40%; " class="btn btn-success btn-sm  {% if us.miembro_asignado.username != request.user.username %} disabled{% endif %} ">Ver más</a>
                                            </div>
                                            <div class="col-4" style="text-align: end">
                                                <span class="badge badge-warning"> Verificar</span>
                                            </div>
                                        </div>

                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    {% if request.user.rolSistema == "Administrador" %}
                        <div class="col-3 card">
                            <div class="card-header">
                                <h6 class="text-muted">QA</h6>
                            </div>
                            <div class="card-body" id="DONE">
                                {% for us in user_stories %}
                                    {% if us.estado_sprint == 'DONE' %}
                                        <div class="card" style="margin-top: 5px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition:0.3s; margin-left: 20px; width: 90%    " data-id="{{ us.pk }}">
                                            <div class="card" style="border: 0px" data-id="{{ us.pk }}">
                                                <div class="card-img-overlay" style="text-align: end">
                                                    <span class="badge badge-primary"> {{ us.miembro_asignado }}</span>
                                                    <span class="badge badge-secondary"> Prioridad: {{ us.prioridad }}</span>
                                                </div>
                                                <div class="card-body">
                                                    <h6 class="card-title">{{ us.nombre }}</h6>
                                                    <small class="text-muted cat">
                                                        <i class="far fa-clock text-info"></i> {{ us.estimacion }}
                                                        Estimación
                                                        <i class="fas fa-users text-info"></i> 1 Miembro
                                                    </small>
                                                    <p class="card-text">{{ us.descripcion }}.</p>
                                                </div>
                                            </div>
                                            <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
                                            </div>
                                            <div class="container" style="padding: 10px">
                                                <a href="home" style="width: 30%; " class="btn btn-success btn-sm">Ver
                                                    más</a>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                        </div>
                    {% endif %}
                    {#                <div class="col-2 card" style="height: 500px;">#}
                    {#                        <div class="card-header">#}
                    {#                            <h6>QA</h6>#}
                    {#                        </div>#}
                    {#                        <div class="card-body" id="DONE">#}
                    {#                            {% for us in user_stories %}#}
                    {#                                {% if us.estado_sprint == 'DONE' %}#}
                    {#                                    <div class="card" style="margin-top: 5px" data-id="{{ us.pk }}">#}
                    {#                                        <div class="card container-fluid" style="border: 0px" data-id="{{ us.pk }}">#}
                    {#                                            <div class="card-img-overlay" style="text-align: end">#}
                    {#                                                <span class="badge badge-primary"> {{ us.miembro_asignado }}</span>#}
                    {#                                            </div>#}
                    {#                                            <div class="card-body">#}
                    {#                                                <h4 class="card-title">{{ us.nombre }}</h4>#}
                    {#                                                <small class="text-muted cat">#}
                    {#                                                    <i class="far fa-clock text-info"></i> {{ us.estimacion }} Estimación#}
                    {#                                                    <i class="fas fa-users text-info"></i> 1 Miembro#}
                    {#                                                </small>#}
                    {#                                                <p class="card-text">{{ us.descripcion }}.</p>#}
                    {#                                            </div>#}
                    {#                                        </div>#}
                    {#                                        <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">#}
                    {#                                        </div>#}
                    {#                                        <div class="container" style="padding: 10px">#}
                    {#                                        <a href="home" style="width: 30%; " class="btn btn-success btn-sm">Ver más</a>#}
                    {#                                        </div>#}
                    {#                                    </div>#}
                    {#                                {% endif %}#}
                    {#                            {% endfor %}#}
                    {#                        </div>#}
                    {##}
                    {#                    </div>#}
                </div>

            </div>

        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
    <script src="http://SortableJS.github.io/Sortable/Sortable.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}