{% extends "baseDesarrollo.html" %}
{% load guardian_tags %}

{% block head_content %}
    <title>Home</title>
{% endblock %}
{% block container %}
    {% get_obj_perms request.user for proyecto as "proyecto_perms" %}
    <div class="content-container">
        <div class="container-fluid" style="margin-top: 50px">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'desarrollo' proyecto_id %}">Desarrollo</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sprint Planning</li>
                </ol>

            </nav>
            <div class="row">
                <div class="col-sm-12 col-lg-10">
                    <div class="jumbotron" style="margin-top: 0px">
                        {% if error %}
                        <div class="alert alert-danger" role="alert">
                            <h6>Error al iniciar el Sprint !</h6>
                             {{ mensaje_error }}
                        </div>
                         {% endif %}
{#                        <div class="col-sm-10"><h1><i class="fa fa-file-text-o" aria-hidden="true"></i> Sprint Planning </h1></div>#}
                        <div class="row">
                            <div class="col-md-8">
                                <h1><i class="fa fa-file-text-o" aria-hidden="true"></i> Sprint Planning</h1>
                            </div>

                            <div class="col-md-3" style="text-align: end">
                                {% if "PLANIFICAR_SPRINT" in proyecto_perms %}
                                    <button type="button" class="btn btn-secondary"
                                            onclick="location.href='{% url 'iniciarSprint' proyecto_id=proyecto_id %}'"
                                    >Iniciar Sprint <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                    </button>
                                {% endif %}
                            </div>

                            <hr style="width:96%; margin-left:1% !important; margin-right:1% !important;"/>

                        </div>
                        <table class="overflow-auto table table-striped table-dark container">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">User Story</th>
                                <th scope="col">Prioridad</th>
                                <th scope="col">Miembro asignado</th>
                                <th scope="col">Estado de Estimacion</th>
                                <th scope="col">Opciones</th>
                            </tr>
                            </thead>
                            {% for userStory in userStory %}
                                <tbody style="text-align: left; ">

                                <tr>
                                {% if proyecto.scrum_master ==  request.user or userStory.miembro_asignado == request.user %}
                                    <th scope="row">{{ userStory.id }}</th>
                                    <td>{{ userStory.nombre }}</td>
                                    <td>
                                        {{ userStory.prioridad }}
                                    </td>
                                    <td>
                                        {% if userStory.miembro_asignado != None %}
                                        {{ userStory.miembro_asignado }}

                                        {% endif %}
                                    </td>
                                    <td>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="estimacionCompletada"
                                           id="flexCheckDisabled"
                                            {% if userStory.estimacion > 0 %}
                                           checked {% endif %}  disabled>
                                    {% if userStory.estimacion == 0 %}
                                        Incompleta
                                    {% else %}
                                        Completada
                                    {% endif %}
                                </div>
                            </td>
                                    <td>
                                        {% if "PLANIFICAR_SPRINT" in proyecto_perms %}
                                             <button type="button" class="btn btn-secondary"
                                                    onclick="location.href='{% url 'asignarMiembroUS' proyecto_id userStory.id %}'"
                                            ><i class="bi bi-person-plus-fill"></i>
                                            </button>
                                        {% endif %}
                                        {% if "ESTIMAR_USER_STORY" in proyecto_perms %}
                                            <button type="button" class="btn btn-info"
                                                    onclick="location.href='{% url 'planningPoker' proyecto_id userStory.id %}'"
                                            ><i class="bi bi-suit-spade"></i>
                                            </button>
                                        {% endif %}
                                        {% if "PLANIFICAR_SPRINT" in proyecto_perms %}
                                            <button type="button" class="btn btn-danger"
                                                    onclick="location.href='{% url 'product_backlog_estado' proyecto_id userStory.id %}'"
                                            ><i class="fa fa-th-list" aria-hidden="true"></i>
                                            </button>
                                        {% endif %}
                                    </td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                      {% if not userStory.count %}
                          <p class="text-muted" style="text-align: center; margin-top: 30px"><i class="bi bi-exclamation-triangle"></i>
                            No hay User Stories en el Sprint Planning</p>
                      {% endif %}
                    </div>


                </div>

                <div class="col-sm-12 col-lg-2">
                    <div class="jumbotron" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition:0.3s;">
                        <p class="text-muted" style="text-align: center; margin-top: -20px"><i class="bi bi-gear"></i>
                            Opciones</p>
                        <hr>
                        <div class="text-muted" style="margin-top: 20px"><i class="bi bi-person-plus"></i> Asignar a miembro
                        </div>
                        <div class="text-muted" style="margin-top: 10px"><i class="bi bi-suit-spade"></i> Planning Poker
                        </div>
                        <div class="text-muted" style="margin-top: 10px"><i class="fa fa-th-list"
                                                                            aria-hidden="true"></i> Descartar
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-lg-10">
                    <div class="jumbotron" style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);transition:0.3s;">
                         <p class="text-muted" style="text-align: center; margin-top: -20px"><i class="bi bi-journal-text"></i>
                            Estado de planificacion</p>
                        <hr>
                        <div class="text-muted" style="margin-top: 20px"><i class="fa fa-check" aria-hidden="true"></i> Capacidad de Sprint: {{ capacidad_miembros }} horas
                    </div>
                        <div class="text-muted" style="margin-top: 20px"><i class="fa fa-check" aria-hidden="true"></i> Estimacion total de User Stories: {{ estimacion_total }} horas
                    </div>
                        <div class="text-muted" style="margin-top: 20px"><i class="fa fa-check" aria-hidden="true"></i> Duracion de Sprint: {{ proyecto.duracion_dias_sprint }} dia/s habiles
                    </div>
                        <div class="text-muted" style="margin-top: 20px"><i class="fa fa-check" aria-hidden="true"></i> Duracion de Sprint estimada: {{ dias }} dia/s habiles
                    </div>
                </div>
            </div>
        </div>
    </div>
     </div>
{% endblock %}