{% extends "baseHome.html" %}
{% load bootstrap4 %}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block head_content %}
    <title>Home</title>
{% endblock %}
{% block container %}

    <div class="content-container" style="margin-top: 50px">
        <div class="container-fluid" >
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                <ol class="breadcrumb">

                    <li class="breadcrumb-item"><a href="{% url 'listaUsuarios' %}">Lista de Usuarios</a></li>
                    <li class="breadcrumb-item active">Editar Proyecto</li>
                </ol>
            </nav>
            <div class="jumbotron">
                 <h1><i class="fa fa-file-text-o" aria-hidden="true"></i> Editar el rol del sistema al Usuario:<span class="text-muted"> @{{ rol_sistema.username }}</span>  </h1>
                <form method="POST">
                    {% csrf_token %}
                    {{ form.media }}
                    {% bootstrap_form form %}
                    {#                    {{ form }}#}
                     <button class="btn btn-primary" style="margin-left: 10px">Aceptar <i class="fa fa-check"
                                                                                         aria-hidden="true"></i>
                    </button>
                    <button class="btn btn-danger " style="margin-left: 10px"
                            onclick="location.href='{% url 'listaUsuarios' %}'">Cancelar <i class="fa fa-times"
                                                                                              aria-hidden="true"></i>
                    </button>
                </form>

            </div>

        </div>
    </div>

{% endblock %}